:root {
  --accent: #2EC838;
}

a {
	text-decoration: none;
}

a.elsewhere-link {
	text-decoration: none;
	display: inline-block;
}

.h-entry {
	margin: 10px auto;
	grid-colum: 2;
}

.elsewhere-icon {
	fill: var(--accent);
}
